<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TESTEntities" connectionString="metadata=res://*/Model.SaleModel.csdl|res://*/Model.SaleModel.ssdl|res://*/Model.SaleModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN\SQL2014;initial catalog=TEST;persist security info=True;user id=sa;password=210586;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>